@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
  --main-color:#3D4E5E;
  --white:#ffffff;
}
.languages{
 width: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50px;
}


.arabic{
  direction: rtl;
  font-family: 'Amiri', sans-serif;
}
header nav ul li a.active{
  background-color: var(--main-color) !important;
  color: white !important;
}
body{
  font-family: 'open sans';
}

form{
  background-color: #ffffff;
  box-shadow: 0 0 5px rgb(219, 219, 219);
}
form div{
  flex: 1 30%;
}
form label{
  font-size: 18px;
}
form input{
  padding: 10px;
}
header nav ul li a:hover{
  background-color: var(--main-color);
  color: #f3f3f3 !important ;
}
.btn-pri , .btn-sec{
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
}
.btn-pri{
  color: #ffffff;
  background: var(--main-color);
  border: 1px solid var(--main-color);
}
.btn-pri:hover{
  background: rgb(255, 255, 255);
  color: black;
}
.btn-sec{
  border: 1px solid rgb(170, 170, 170);
  color: black;
  background-color: rgb(255, 255, 255);
}
.btn-sec:hover{
  color: #ffffff;
  background:var(--main-color) ;
}
span.hide-text{

  animation: animate-logo 0.7s 1  forwards ease;
  -webkit-animation: animate-logo 0.7s 1  forwards ease;
}
span.show-text{
  animation: animate-logo2 0.7s 1  forwards ease;
  -webkit-animation: animate-logo2 0.7s 1  forwards ease;
}

@keyframes animate-logo {
  from{
    opacity: 1;
    z-index: 1;
    left: 0px;
  }
  to{
    opacity: 0;
    z-index: -1;
    left: -110px;
  }
}
@keyframes animate-logo2 {
  from{
    opacity: 0;
    z-index: -1;
    left: -110px;
  }
  to{
    opacity: 1;
    z-index: 1;
    left: 0px;
  }
}

body{
  overflow-x: hidden;
}

.landing{
    position: relative;
    /* background: url('./static//1_4x.jpg') ; */
    background-size: cover;
    background-position: center center;
    /* background-color: #ececec; */
}
.upper-header{
  position: relative;
  z-index: 10000;
  background-color:var(--main-color) !important;;
}
.upper-span{
  color:rgb(238, 238, 238);
}
header{
    user-select: none;
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 110px;
    border-bottom:1px solid #eee ;
}
.bars{
  transition: 0.3s;
  font-size: 22px;
  color: var(--main-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #e4e4e4;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.bars:hover{
  background-color: var(--main-color);
  color: white;
}
header .logo {
  width: fit-content;
  color: var(--main-color);
    position: relative;
    z-index: 10;
}
header nav 
header .logo span {
    position: relative !important;
  z-index: 10;
}
header .logo img{
  background-color: white;
    object-fit: cover;
    position: relative;
    z-index: 11;
}
.nav-in-small{
  width: 0px;
  /* box-shadow: 0 0 10px rgb(214, 214, 214); */
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 44px;
  right: 46px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-in-small.show {
  border: 1px solid rgb(197, 197, 197);
  width: 200px;
  height: 296px;
}
.nav-in-small ul li {
  width: 100%;
  text-align: left;
}
.nav-in-small ul li a{
  /* width: 100%; */
  padding: 9px;
  display: block;
  text-align: left;
  transition: 0.3s;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-in-small ul li a:hover{
  background-color: var(--main-color);
  color: #ffffff !important;
  padding-left: 5px !important;
}
header ul li a{
  text-transform: capitalize;
    padding:14px;
    position: relative;
    color: var(--main-color) !important;
    font-weight: bold;
}

header ul li a:hover::before{
    width: 80%;
}
header ul li a:hover::after{
    height: 80%;
}

.testimonial {
    justify-content: space-between;
align-items: center;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
  }
  
  .testimonial p {
    margin-bottom: 10px;
    position: relative;
    color: rgb(107, 107, 107);
    animation:animate-p  1.2s 1 ease forwards;
    -webkit-animation:animate-p  1.2s 1 ease forwards;
}

#image{
  padding-right: 20px;
}
@keyframes animate-p {
  from{
    opacity: 0;
    top: 180px;
  }
  to{
    opacity: 1;
    top: 0;
  }
}

.testimonial h2 {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--main-color);
    margin-top: 0;
    margin-bottom: 10px;
}
  
  @media (min-width: 768px) {
    .testimonial p {
      font-size: 1.5rem;
    }
  }
  

  .landing img {
    width: 100%;object-fit: cover;
  }

  .dropdown{
    position: relative;
  }
  .dropdown:hover .drop{
    height: 235px;
    border: 1px solid rgb(189, 189, 189);

  }
  .disabled{
    user-select: none;
    pointer-events: none;
    pointer-events:  all;
  }
  .dropdown:hover .hide{
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
}
  .drop{
    width: 100%;
    background-color: #ffffff;
    height: 0;
    display: flex;
    left: 0;
    top: 110%;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 4px rgb(173, 173, 173); */
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    /* -webkit-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* -ms-border-radius: 5px; */
    /* -o-border-radius: 5px; */
}

.drop a{
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.drop a:hover{
    background-color: var(--main-color);
    color: white !important;
}

.footer {
  background-image: url(./static/islam-8519137_1280.webp);
  background-position: 0 -90px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0; /* Ensure it's positioned correctly relative to other elements */
}

.footer::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Make sure the overlay appears above the background */
}

.footer .footer-container {
  position: relative;
  z-index: 2; /* Ensure it's positioned correctly relative to other elements */
}
.footer .footer-container h4  {
  color: rgba(252, 220, 117, 0.753);
}
.footer .footer-container a  {
  text-decoration: underline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}.footer .footer-container a:hover  {
  color: rgba(255, 209, 58, 0.753);

}
.footer-bottom{
  color: rgba(255, 209, 58, 0.753);
  font-weight: bold;
  position: relative;
  z-index: 10;

}
.footer-contact span{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer-contact a:hover span{
  display: block;
  padding-left: 3px;

}
.Links a:hover{
  padding-left: 3px;

}
/* .landing2{
  height: 100vh;
  background-image: url(./static/islam-8519137_1280.webp,);
  background-position: 0 -90px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
} */
  /* .landing2::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.8); 
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
}   */


/* about section start */
.about{
  position: relative;
  z-index: 0;
} 
.about::before{
    position: absolute;
    content: '';
    background-image: linear-gradient(to left , rgb(253, 253, 253) 40% , rgb(224, 224, 224));
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* .about .text{
  width: 60%;
}  */
.about .image{
  width: 40%;
} 
.about .image img{
  object-fit: cover;
} 
/* about section end */

.title{
  color: var(--main-color);
  padding: 40px 0;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px;
}

/* choose start */
.choose{
  position: relative;
  z-index: 0;
  padding:0px  0 50px ;
  /* background: url(./static/mosque3.png); */
 background-image:linear-gradient( to bottom left , rgba(255, 255, 255, 0.178) 60% ,rgba(236, 236, 236, 0.199));
}
/* .choose::before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
} */
.choose .container , .teachers .content , .blogs .content{
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 25px;
}
.choose .container .item{
  overflow: hidden;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0 0 10px rgb(216, 216, 216);
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
}
.choose .container .item{
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px rgb(209, 209, 209);
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
}
.choose .container .item::before{
  position: absolute;
  z-index: 1;
  content: '';
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  border-radius: 50%;
  transition: 0.8s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
} 
.choose .container .item:hover::before{
  width: 200%;
  height: 200%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
} 
.choose .container .item:hover h2{
  color: white;
} 
.choose .container .item:hover p{
  color: rgb(233, 233, 233);
} 
.choose .container .item img{
  /* height: 240px; */
  padding-top: 10px;
  position: relative;
  z-index: 2;
  margin-top: -10px;
  object-fit: cover;
}
.choose .container .item h2{
   margin-top: -50px;
   height: 60px;
   position: relative;
   z-index: 2;
}
.choose .container .item p{
  color:var(--main-color);
  /* text-align: center; */
  margin-top: -50px;
  position: relative;
  z-index: 2;
  line-height: 25px;
  /* font-size: 20px; */
} 
/* choose end */

/* teachers */
.teachers ,.Programms{
  position: relative;
  z-index: 0;
}
.teachers::before , .Programms::before{
  position: absolute;
  content: '';
  background-image: linear-gradient(to left , rgb(230, 230, 230)  ,rgb(253, 253, 253) );
  width: 100%;
  height: 100%; 
  z-index: -1;
}
.teachers .content >div , .pricing .content >div{
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgb(204, 204, 204);
  /* border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px; */
} 
.teachers .content >div:hover::before{
  width: 200%;
  height: 200%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
} 
.teachers .content >div:hover,.teachers .content >div:hover h2{
  color: #ececec;
} 

.teachers .content >div::before{
  position: absolute;
  z-index: 1;
  content: '';
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  top: -50px;
  left: -50px;
  border-radius: 50%;
  transition: 0.8s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}
.teachers .content >div h2{
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--main-color);
}
.teachers .content >div h2{
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  color: var(--main-color);
}
.teachers .content >div img{
  height: 240px;
  position: relative;
  z-index: 2;
}
.teachers .content >div p{
  line-height: 25px;
  position: relative;
  font-size: 20px;
  z-index: 2;
}
.teachers .content >div div{
  position: relative;
  z-index: 2;
}
/* teachers */


/* contact-item */

  .contact-item {
    /* border: 1px solid rgb(209, 208, 208); */
    transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
  box-shadow: 0 0 10px #d4d4d4;

}

.contact-item:hover{
  box-shadow: 0 0 10px #a7a7a7;
}

.Contact{
  background-image: linear-gradient(to left , rgb(230, 230, 230)  ,rgb(253, 253, 253) );

  /* background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0; */
}
/* .Contact::before{
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
} */
.Contact .container{
  position: relative;
  z-index: 2;
}
/* contact-item */

.blog-item{
 overflow: hidden;
 border: 1px solid #e2e2e2;
 transition: 0.3s;
 position: relative;
 z-index: 0;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
 /* border-radius: 8px;
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 -ms-border-radius: 8px;
 -o-border-radius: 8px; */
}
.blog-item h2{
 color: var(--main-color);
 font-weight: bold;
 font-size: 20px;
 position: relative;
 z-index: 2;
}
.blog-item img{
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
}
.blog-item p{
 height: 120px;
 line-height: 25px;
 position: relative;
 z-index: 2;
 font-size: 20px;
}
.blog-item:hover::before{
  width: 240%;
  height: 200%;
}
.blog-item:hover h2,.blog-item:hover p{
  color: white;
}
.blog-item button.btn-pri{
  position: relative;
  z-index: 1000 !important;
}
.blog-item img{
  position: relative;
  z-index: 2;
  /* transform: scale(1.2); */
  /* -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2); */
}
 
.blog-item::before{
  position: absolute;
  z-index: 1;
  content: '';
  background-color: var(--main-color);
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  transition: 0.8s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.overlay{
  position: fixed;
  width: 0%;
  height:0%;
  right: -424px;
  width: 420px;
  height: 540px;
  padding: 10px;
  top: 22vh;
  z-index: 1005;
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
  animation:show-message 2s 1s 1  forwards ease ;
  -webkit-animation:show-message 2s 1s 1  forwards ease ;
}

.overlay.hide{
  animation: hide-message 0.5s  1 forwards ease;
  -webkit-animation: hide-message 0.5s  1 forwards ease;
}
.overlay.show{
  animation: show-message .5s 10s  1 forwards ease;
  -webkit-animation: show-message .5s 10s  1 forwards ease;
}

.FaAngleLeft{
  z-index: 10000;
}
@keyframes show-message {
  from{
      right:-424px;
  /* width:0px ; */
  /* height: 0px; */
  /* top: 95vh; */
  }
  to{
    right: 50px;
    /* top: 20vh; */
    /* height: 500px; */
    /* width: 420px; */
  }
  
}
@keyframes hide-message {
  to{
    right: -424px;
 /* width:0px ; */
/* height: 0px; */
/* top: 95vh; */
  }
  from{
    right: 50px;
    /* top: 20%; */
    /* height: 500px; */
    /* width: 420px; */
  }
  
}

.register{
  background-image: linear-gradient(to left , rgb(230, 230, 230)  ,rgb(253, 253, 253) );

}

.pricing .list{
  list-style:square !important;
}

.pricing .after{
  transform: skew(118deg, 26deg);
    top: -80px;
    z-index: -10;
    background-color: var(--main-color);
}

.outer-overlay{
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.outer-overlay.show{
  opacity: 1;
  visibility: visible;
}