@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Fustat:wght@200..800&display=swap');
:root{
  --main-color:#143d59;
  --second-color:#f4b42a;
  --ter-color:#b8bec5;
  --white:#ffffff;
}
* {
  box-sizing: border-box;
}
h1 , h2 , h3 , h4 , h5 , h6{
font-weight: bold;
  color: var(--second-color) !important;
}
.branch-title{
  color: var(--main-color);
 font-weight: bold;
 font-size: 22px;
 position: relative;
 z-index: 2;
 margin-top: -20px;
}
.languages{
 width: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 50px;
}

.arabic{
  direction: rtl;
  font-family: "Noto Naskh Arabic", serif;
  font-family: 'Amiri', sans-serif;
  font-family: "El Messiri", sans-serif;
  /* font-family: "Fustat", sans-serif; */
}

header nav ul li a.active{
  background-color: var(--second-color) !important;
  color: white !important;
}

body{
  font-family: 'open sans','Inter', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  /* background-color: #f4b42a73; */
 
}

.Contact,.overlay div {
  font-family: 'open sans' !important;
}

header nav ul li a:hover{
  background-color: var(--main-color);
  color: #f3f3f3 !important ;
}
.btn-pri , .btn-sec{
  padding: 10px;
  font-size: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: capitalize;
  /* border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; */
}
.btn-pri{
  color: #ffffff;
  background: var(--main-color);
}
.btn-pri:hover{
  background:var(--second-color);
  color: white;
}
.btn-sec{
  border: 1px solid rgb(170, 170, 170);
  color: black;
  background-color: rgb(255, 255, 255);
}
.btn-sec:hover{
  color: #ffffff;
  background:var(--main-color) ;
}
span.hide-text{

  animation: animate-logo 0.7s 1  forwards ease;
  -webkit-animation: animate-logo 0.7s 1  forwards ease;
}
span.show-text{
  animation: animate-logo2 0.7s 1  forwards ease;
  -webkit-animation: animate-logo2 0.7s 1  forwards ease;
}
span.hide-arabic{
  animation: animate-logo3 0.7s 1  forwards ease;
  -webkit-animation: animate-logo3 0.7s 1  forwards ease;
}
span.show-arabic{
  animation: animate-logo4 0.7s 1  forwards ease;
  -webkit-animation: animate-logo4 0.7s 1  forwards ease;
}
@keyframes animate-logo {
  from{
    opacity: 1;
    z-index: 1;
    left: 0px;
  }
  to{
    opacity: 0;
    z-index: -1;
    left: -110px;
  }
}
@keyframes animate-logo2 {
  from{
    opacity: 0;
    z-index: -1;
    left: -110px;
  }
  to{
    opacity: 1;
    z-index: 1;
    left: 0px;
  }
}
@keyframes animate-logo3 {
  from{
    opacity: 0;
    z-index: -1;
    right: 0px;
  }
  to{
    opacity: 1;
    z-index: 1;
    right: -110px;
  }
}
@keyframes animate-logo4 {
  from{
    opacity: 0;
    z-index: -1;
    right: -110px;
  }
  to{
    opacity: 1;
    z-index: 1;
    right: 0px;
  }
}
body{
  overflow-x: hidden;
}

.landing{
  height: calc(100vh - 100px);
    position: relative;
    z-index:1 ;
    background: url('./static/mosque-6231915_1280.jpg') ;
    background-size: cover;
    background-position: center center;
}

.landing.bg-change{
  position: relative;
  z-index:1 ;
  background: url('./static/mosque3.png') ;
  background-size: cover;
  background-position: center center;
  animation: landing-bg-change 0.3s   1 forwards  ease;
  -webkit-animation: landing-bg-change 0.3s   1 forwards  ease;
}

.landing::after  {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.upper-header{
  position: relative;
  z-index: 10000;
  background-color:var(--main-color) !important;;
}
.upper-span{
  color:rgb(238, 238, 238);
}
header{
    user-select: none;
    position: sticky;
    top: -1px;
    z-index: 1000;
    left: 0;
    width: 100%;
    height: 110px;
    direction: ltr !important;
    border-bottom:1px solid #eee ;
}
.bars{
  transition: 0.3s;
  font-size: 22px;
  color: var(--main-color);
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #e4e4e4;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.bars:hover{
  background-color: var(--main-color);
  color: white;
}
header .logo {
  width: fit-content;
  color: var(--main-color);
    position: relative;
    z-index: 10;
}

header .logo span {
    position: relative !important;
  z-index: 10;
}
header .logo img{
  background-color: white;
    object-fit: cover;
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: contain;
    z-index: 11;
}
.nav-in-small{
  width: 0px;
  /* box-shadow: 0 0 10px rgb(214, 214, 214); */
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 80px;
  right: 30px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-in-small-arabic{
  width: 0px;
  /* box-shadow: 0 0 10px rgb(214, 214, 214); */
  height: 0px;
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  background-color: #ffffff;
  top: 80px;
  right: -160px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-in-small.show ,.nav-in-small-arabic.show {
  border: 1px solid rgb(197, 197, 197);
  width: 200px;
  height: 296px;
}
.nav-in-small ul li ,.nav-in-small-arabic ul li{
  width: 100%;
  text-align: left;
}
.nav-in-small ul li a,.nav-in-small-arabic ul li a{
  /* width: 100%; */
  padding: 9px;
  display: block;
  text-align: left;
  transition: 0.3s;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-in-small ul li a:hover ,.nav-in-small-arabic ul li a:hover{
  background-color: var(--main-color);
  color: #ffffff !important;
  padding-left: 5px !important;
}
header ul li a{
    text-transform: capitalize;
    padding:10px 7px;
    position: relative;
    color: var(--main-color) !important;
    font-weight: bold;
}

header ul li a:hover::before{
    width: 80%;
}
header ul li a:hover::after{
    height: 80%;
}

.testimonial {
    justify-content: space-between;
    align-items: center;
    padding:70px;
    position: relative;
    z-index: 10;
    text-align: center;
    border-radius: 8px;
  }
  @media(max-width:768px){
    .testimonial {
      justify-content: space-between;
      align-items: center;
      padding:30px;
      position: relative;
      z-index: 10;
      text-align: center;
      border-radius: 8px;
    }
  }
  .testimonial p {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
    color: rgb(204, 204, 204);
    animation:animate-p  1.2s 1 ease forwards;
    -webkit-animation:animate-p  1.2s 1 ease forwards;
}
@media(max-width:1200px){
  .testimonial p {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
    color: rgb(204, 204, 204);
    animation:animate-p  1.2s 1 ease forwards;
    -webkit-animation:animate-p  1.2s 1 ease forwards;
}
}

#image{
  padding-right: 20px;
}
@keyframes animate-p {
  from{
    opacity: 0;
    top: 180px;
  }
  to{
    opacity: 1;
    top: 0;
  }
}

.testimonial h2 {
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}
  
  @media (min-width: 768px) {
    .testimonial p {
      font-size: 1.5rem;
    }
  }
  

  .landing img {
    width: 100%;object-fit: cover;
  }
  .drop{
    width: 100%;
    background-color: #ffffff;
    height: 0;
    display: flex;
    left: 0;
    top: 110%;
    position: absolute;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.drop a{
    padding: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.drop a:hover{
    background-color: var(--main-color);
    color: white !important;
}
.drop a:active{
  opacity: 0;
}
  .dropdown,.drop-arabic{
    position: relative;
  }
  .dropdown:hover .drop,.dropdown:hover .drop-arabic{
    height: 235px;
    border: 1px solid rgb(189, 189, 189);

  }
  .disabled{
    user-select: none;
    pointer-events: none;
    pointer-events:  all;
  }
  .dropdown:hover .hide{
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   -o-transform: rotate(90deg);
}

.footer {
  background-image: url(./static/islam-8519137_1280.webp);
  background-position: 0 -90px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0; /* Ensure it's positioned correctly relative to other elements */
}

.footer::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Make sure the overlay appears above the background */
}

.footer .footer-container {
  position: relative;
  z-index: 2; /* Ensure it's positioned correctly relative to other elements */
}
.footer .footer-container h4  {
  color: rgba(252, 220, 117, 0.753);
}
.footer .footer-container a  {
  text-decoration: underline;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}.footer .footer-container a:hover  {
  color: rgba(255, 209, 58, 0.753);

}
.footer-bottom{
  color: rgba(255, 209, 58, 0.753);
  font-weight: bold;
  position: relative;
  z-index: 10;

}
.footer-contact span{
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.footer-contact a:hover span{
  display: block;
  padding-left: 3px;

}
.Links a:hover{
  padding-left: 3px;

}


/* about section start */
.about{
  position: relative;
  z-index: 0;
} 
.about::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
}
.about .image{
  width: 40%;
} 
.about .image img{
  object-fit: cover;
} 
/* about section end */
.iti--allow-dropdown {
 width: 100%;
}
.title{
  color: var(--main-color);
  padding: 45px 0;
  display: flex ;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 30px; 
}

/* choose start */

.btns {
  display: flex;
  align-items: center;
  width: 100%;
}
 .btns button {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 14px;
  cursor: pointer;
  margin: 0 5px;
  width: 60px;
  background-color: var(--main-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 .btns button{
  left: -10px;
 }
.arabic .btns button{
 left: -2px;
}
.btns button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  color: #143d593f;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev,
.swiper-button-prev, .swiper-rtl .swiper-button-next{
 display: none !important;
 position: static !important;
}
/* .btns button:nth-child(1) {
  width: 45px;
  padding: 6px;
  height: 30px;
  background-color: #eee;
} */
.btns button:nth-child(1) {
  background-color: #f4b42a;

}
.arabic .btns button:nth-child(3)  {
  width: fit-content;
  margin-right: auto;
  margin-left: -4px;
  padding: 0;

}
.btns button:nth-child(3)  {
  width: fit-content;
  margin-left: auto;
  /* margin-left: -4px; */
  padding: 0;

}
.btns button:nth-child(3) a {
padding: 10px 14px;

}
.btns button:nth-child(1):hover {
  background-color: #ffffff;
  color: white;

}

.choose .container 
, 
.teachers .content 
{
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
  gap: 25px;
}

.choose .container .item{
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: 8px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border:1px solid #d4d4d4; */
  box-shadow: 0px 0px 10px rgb(207, 207, 207);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}


/* choose end */

/* teachers */
.teachers ,.Programms{
  position: relative;
  z-index: 0;
  /* background-color: #eee; */
}
/* .teachers::before , .Programms::before , .pricing::before{
  position: absolute;
  content: '';
  background-image: linear-gradient(to left , rgb(230, 230, 230)  ,rgb(253, 253, 253) );
  width: 100%;
  height: 100%; 
  z-index: -1;
} */
.teachers .content >div , .pricing .content >div{
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgb(172, 172, 172);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
} 


/* teachers */


/* contact-item */

  .contact-item {
    transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
  box-shadow: 0 0 10px #d4d4d4;

}

.contact-item:hover{
  box-shadow: 0 0 10px #a7a7a7;
}

.Contact{
}

.Contact .container{
  position: relative;
  z-index: 2;
}
/* contact-item */

.blog-item{
 overflow: hidden;
 /* border: 1px solid #e2e2e2; */
 box-shadow:0px 0px 10px rgb(184, 183, 183) ;
 transition: 0.3s;
 position: relative;
 z-index: 0;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
 height: 470px;
}
.blog-item h2{
 color: var(--main-color);
 font-weight: bold;
 font-size: 22px;
 z-index: 2;
}
.blog-item img{
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
 width: 150%;
 height: 350px;
}
.blog-item p{
 line-height: 25px;
 position: relative;
 z-index: 2;
}
/* .blog-item:hover::before{
  width: 240%;
  height: 220%;
} */
/* .blog-item:hover h2,.blog-item:hover p{
  color: white;
} */
.blog-item button.btn-pri{
  position: relative;
  z-index: 1000 !important;
}
.blog-item:hover img{
  position: relative;
  z-index: 2;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
 
/* .blog-item::before{
  position: absolute;
  transform: skew(136deg, 70deg);
  z-index: 1;
  content: '';
  background-color:var(--second-color);
  width: 50px;
  height: 195px;
  top: -90px;
  left: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transform: skew(136deg, 76deg);
  -moz-transform: skew(136deg, 76deg);
  -ms-transform: skew(136deg, 76deg);
  -o-transform: skew(136deg, 76deg);
} */

div.overlay{
  position: fixed;
  width: 0%;
  height:0%;
  right: -424px;
  width: 420px;
  height: 540px;
  padding: 10px;
  top: 22vh;
  z-index: 1005;
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(255, 255, 255);
}

 .overlay.hide{
  animation: hide-message 0.5s  1 forwards ease;
  -webkit-animation: hide-message 0.5s  1 forwards ease;
} 
.overlay.show{
  animation: show-message 0.3s 0.1s 1 forwards ease;
  -webkit-animation: show-message 0.3s 10s 1 forwards ease;
} 

.FaAngleLeft{
  z-index: 10000;
}
@keyframes show-message {
  from{
      right:-424px;
  }
  to{
    right: 50px;
  }
  
}
@keyframes hide-message {
  from{
    right: 50px;

  }
  to{
    right: -424px;
  }
  
}

.register{
  background-image: linear-gradient(to left , rgb(230, 230, 230)  ,rgb(253, 253, 253) );

}

.pricing .list{
  list-style:square !important;
}

.pricing .after{
  transform: skew(118deg, 26deg);
    top: -80px;
    z-index: -10;
    /* background-color: var(--main-color); */
}

.outer-overlay{
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  /* font-family: 'open sans'; */
}

.outer-overlay.show{
  opacity: 1;
  visibility: visible;
}

.free-trail{
  position: fixed;
  z-index: 1000;
  height: 70px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: var(--main-color);
  width: 100%;
  animation: animate-free-trail 0.3s 6s  1 forwards ease;
  -webkit-animation: animate-free-trail 0.3s 8s  1 forwards ease;
}
@keyframes animate-free-trail {
  from{
    /* height: 0; */
    opacity: 0;
    visibility: hidden;
  }
  to{
    /* height: 100px; */
    visibility: visible;
    opacity: 1;
  }
}
@keyframes animate-free-trail-hide {
  from{
    visibility: visible;
    opacity: 1;
  }
  to{
    opacity: 0;
    visibility: hidden;
  }
}
.free-trail.hide{
  animation: animate-free-trail-hide 0.5s  1 forwards ease;
  -webkit-animation: animate-free-trail-hide 0.5s  1 forwards ease;
}

.free-trail button{
  background-color: #1f436d;
}





.uy{
  color: #0080002a;
}

.details-page{
  background-image: linear-gradient(to right, rgba(243, 243, 243, 0.808)   , rgb(255, 255, 255) ) ;
}
.details-page-content{
  position: relative;
  z-index: 0;
}
/* .details-page-content::after{
  position: absolute;
  z-index: 1;
  content: '';
  height: 50%;
  background-color: #e6e6e6;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
} */
.details-page-content::before{
  position: absolute;
  z-index: 1;
  content: '';
  height: 100%;
  background-image: linear-gradient(to right,rgb(132, 138, 148),rgb(255, 255, 255));
  width: 100%;
  left: 0;
  right: 0;
  top: 0%;
  bottom: 0%;
}
.details-page-content .container{
  position: relative;
  z-index: 2;
}
/* .details-page-content .container{
  z-index: 10;
  position: relative;
} */





.form-container {
  /* background-color: white; */
  margin-bottom: 50px;
}
.form-container form {
  /* border-radius: 8px; */
  /* padding: 20px; */
  /* box-shadow: 0 0 10px rgb(187, 186, 186); */
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


/* Form fields */
.form-group {
  margin-bottom: 15px;
  flex: 1 30%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #143d59;
}

input, select {
  width: 100% !important;
  padding: 12px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  font-size: 16px;
  box-sizing: border-box;
}

input:focus, select:focus {
  outline: none;
  border-color: #143d59;
  /* box-shadow: 0 0 5px rgba(20, 61, 89, 0.5); */
}

/* Submit button */
.btn-submit {
  width: 100%;
  /* flex: 1 30%; */
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #143d59;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #f4b42a;
}

/* Responsive design */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }
 
}
@media (max-width: 955px) {

  .form-group {
    margin-bottom: 15px;
    flex: 1 45%;
  }
}

.pricing-1{
  animation:  animate-pricing 0.5s 1 forwards ease;
  -webkit-animation:  animate-pricing 0.5s 1 forwards ease;
}
.pricing-2{
  animation:  animate-pricing2 0.5s 1 forwards ease;
  -webkit-animation:  animate-pricing2 0.5s 1 forwards ease;
}
.pricing-3{
  animation:  animate-pricing3 0.5s 1 forwards ease;
  -webkit-animation:  animate-pricing3 0.5s 1 forwards ease;
}
@keyframes animate-pricing {
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animate-pricing2 {
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animate-pricing3 {
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}
/* start-chat-hover */
.start-chat-hover{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -50px;
    right: 70px;
    background-color: #143d59;
    color: white;
    width: max-content;
    padding: 10px;
    font-size: 16px;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.start-chat:hover .start-chat-hover{
  opacity: 1;
  visibility: visible;
}